.container {
  position: relative;
}

video {
  width: 100%;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  transform: scaleX(-1);
}

canvas {
  width: 100%;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
