body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 10px;
}

.container {
  position: relative;
  width: 90vw;
  max-width: 360px;
  margin: auto;
}

video {
  width: 100%;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  transform: scaleX(-1);
}

canvas {
  width: 100%;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  margin: 15px;
}

.controls > * {
  margin: 5px;
  padding: 8px;
}



